body{
    font-family: Arial,sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-cont{
    background-color: wheat;
    padding: 40px;
    border-radius: 8px;
}

.form-group{
    margin-bottom: 15px;
    text-align: left;
}

.login-button{
    width: 100%;
    padding: 10px;
    background-color: rgb(138, 138, 138);
    border: none;
    border-radius: 8px;
}

.login-button:hover{
    background-color: rgb(118, 116, 116);
}

.padding{
    height: 20px;
}

.botton1{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 250, 250);
    border: none;
    border-radius: 8px;
}

.botton1:hover{
    background-color: rgb(118, 116, 116);
}