body{
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;    
}

.login-cont{
    background-color: aliceblue;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-cont h2{
    margin-bottom: 20px;
    font-size: 24px;
    color:black;
}

.form-group{
    margin-bottom: 15px;
    text-align: left;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    color: #555;
}

.form-group input{
    width: 90.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-button{
    width: 100%;
    padding: 10px;
    background-color: blue;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover{
    background-color: blue;
}

.button{
    background-color: white;
    color: black;
    width: 100%;
    border: nano;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

.padding{
    height: 20px;
    background-color: white;
}